
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    width: 100%;
    background-color: #f1f1f1;
    background-color: transparent;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #03462d;
}
.nav li {
    overflow: hidden;
    list-style-type: none;
    /* 12px was initially use  */
    padding: 10px;
    gap: 1.5em;
}
.nav a {   
    text-decoration: none;
    color: #f1f1f1;
    font-size: 1.1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
}
li a.active {
    background-color: red;
    padding: 2px 5px;
    border-radius: 5px;
    color: #f1f1f1;
}
li a:hover:not(.active) {
    color: #cbc9c9;
    background-color: black;
    padding: 2px 5px;
    border-radius: 5px;
    /* transition: all 0.3s ease-in-out; */
    /* transform: translateY(-10px); */
}
label .Esc {
    font-size: 1.8em;
}
/* side bar menu for responsive design */
nav .side-bar {
 position: fixed;
 top: 0;
 right: 0;
 z-index: 999;
 height: 100vh;
 width: 250px;
 background-color: #03462e73;
 backdrop-filter: blur(20px);
 box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1px);
 display: none;
 justify-content: flex-start;
 align-items: flex-start;
 flex-direction: column;
}

 .side-bar li {
     width: 100%;
     margin-left: 20px;
 }
.side-bar a {
    width: 100%;
}
/* since i dint use the li, i use label to house the menu-toggle  */
.svg-menu {
    margin: 0 0 -7px 10px;
    display: none;
}
/* close icon for the side bar */
.hideSidebar {
    margin-left: 30px;
    margin-top: 8px;
}
h2 {
    margin: 15px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 23px 0 33px 0;
    gap: 12px;
}
.search-btn1, .search-btn2 {
    padding: 8px 30px ;
    font-size: 0.8em;
    font-weight: normal;
    text-align: left;
    border: none;
    background-color: #ddd;
    border-radius: 4px;
    width: 21%;
    padding-left: 11px;
}

.search-btn3 {
    padding: 6px 30px;
    background-color: green;
    border: none;
    border-radius: 4px;
    width: 50%;
    color: white;
    font-size: 1em;
}
.search-btn3:hover {
    background-color: #03462d;
    color: white;
    transition: all 0.3s ease-in-out;
}

.eschool {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    background-color: transparent;
}
h3 {
    color: white;
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
}
p {
    font-size: 1em;
    text-transform: lowercase;
    text-align: center;
    color: white;
    padding-top: 15px;
    /* margin-bottom: 25px; */
}
.esc-btn {
    padding: 12px 100px;
    border: none;
    text-decoration: none;
    display: inline-block;
}
.esc-1, .esc-2 {
    background-color: #03462d;
    padding: 45px 50px;
    border-radius: 10px;
}
.ebtn-1, .ebtn-2, .ebtn-3 {
    margin-top: 40px;
    width: 100%;
    background-color: green;
    color: white;
    border-radius: 5px;
}
.ebtn-1:hover, .ebtn-2:hover, .ebtn-3:hover {
    background-color: #228B22;
    color: white;
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
}

.esc-3 {
    background-color: #03462d;
    padding: 35px 50px;
    border-radius: 10px;
}

.groups {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-bottom: 30px;
    background-color: transparent;
}

.grp {
    background-color: #cbc9c9;
    padding: 10px 38px;
    box-sizing: border-box;
    border-radius: 13px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.grp:hover {
    transform: translateY(-7px);
    /* box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); */
}

.fa {
    font-size: 1.1em;
}

.grp-1 {
   text-align: center; 
   font-size: 1em;
   font-weight: normal;
    border-top: 4px solid red;
}
.fa-suitcase {
    align-items: center;
    color: red;
}

.grp-2 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    border-top: 4px solid 	#00CED1;
}
.fa-building {
    align-items: center;
    color: 	#00CED1;
}

.grp-3 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    border-top: 4px solid black;
}
.fa-users{
    align-items: center;
    color: black;
}

.grp-4 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    border-top: 4px solid #FF8C00;
}
.fa-user {
    align-items: center;
    color: #FF8C00;
}
.grp-5 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    border-top: 4px solid red;
}
.img5 {
    align-items: center;
    color: red;
}
.grp-6 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    border-top: 4px solid #00CED1;
}
.img6 {
    align-items: center;
    color: #00CED1;
}

.grp-7 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    border-top: 4px solid black;
}
.img7 {
    align-items: center;
    color: black;
}
.grp-8 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    border-top: 4px solid #FF8C00;
}
.img8 {
    align-items: center;
    color: #FF8C00;
}
.text { 
    color: black;
    font-size: 1em;
    background-color: transparent;
}



@media screen and (max-width: 1024px) {
    .hidOnMobile {
        display: none;
    }
    .menu-toggle {
        display: block;
        margin-left: auto;
    }
    .side-bar {
        display: none;
    }
        .svg-menu {
           
            display: block;
        }
    .nav {
        background-color: red;
    }
    .search-btn3 {
        width: 29%;
    }
    .eschool {
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        display: block;
        justify-content: center;
        align-items: center;
        width: 72%;
        margin: auto;
        margin-bottom: 30px;
    }
    .ebtn-1,
    .ebtn-2,
    .ebtn-3 {
        /* width: 60%; */
        /* margin: 40px 130px; */
    }
    .groups {
        display: grid;
        grid-template-columns: repeat(4, 0.3fr);
        gap: 20px;
        padding: 0 50px;
        margin-top: 50px;
    }
    .grp {
        border-radius: 15px;
        /* margin: 10px; */
    }
}

@media screen and (max-width: 768px) {
    .hidOnMobile {
        display: none;
    }
    
    .menu-toggle {
        display: block;
        margin-left: auto;
    }
    
    .side-bar {
        display: none;
    }
    .nav {
        background-color: royalblue;
    }
    h2 {
        font-size: 1.3em;
        text-align: center;
        /* flex-wrap: nowrap; */
    }
    .search-btn1 {
        width: 25%;
       
    }
    .search-btn2 {
        width: 21%;
    }
    .search-btn3 {
        width: 23%;
        
    }
    .eschool {
        width: 60%;
    }
    .esc-btn{
        padding: 10px 20px;
    }
    .ebtn-1,
    .ebtn-2,
    .ebtn-3 {
        width: 60%;
        margin: 40px 65px;
    }
    .groups {
        display: grid;
        grid-template-columns: repeat(4, 0.3fr);
    }

}
@media screen and (max-width: 480px) {
    .hidOnMobile {
        display: none;
    }
        .nav {
            background-color: orangered;
        }

    .menu-toggle {
        display: block;
        /* margin-left: 520px; */
    }

    .side-bar {
        display: none;
    }
    nav .side-bar {
        width: 400px;
    }
    .side-bar li {
        line-height: 20px;
    }
    .search {
        flex-direction: column;
    }
    
    .search-btn1,
    .search-btn2 {
        width: 60%;
    
    }
    
    .search-btn3 {
        width: 60%;
    }
    
    h2 {
        font-size: 1.2em;
        text-align: center
    }
    .eschool {
        width: 68%;
    }
    .ebtn-1,
    .ebtn-2,
    .ebtn-3 {
        width: 60%;
        /* initially was 40px, but 35px is for screen 396px */
        margin: 35px;
    }
    .groups {
        grid-template-columns: repeat(2, 1fr);
    }
   

}
