
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #f1f1f1;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: green;
}
.nav li {
    list-style-type: none;
    padding: 13px;
    gap: 1em;   
    font-family: ;
}
.nav a {
    text-decoration: none;
    color: #f1f1f1;
}
h2 {
    margin: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.search-btn1 {
    padding: 6px 30px ;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    flex-basis: 250px;
    font-size: 0.8em;
    border: none;
    background-color: green;
    border-radius: 3px;
}
.search-btn2 {
    padding: 6px 30px;
    flex-basis: 250px;
    margin-left: 16px;
    font-size: 0.8em;
    background-color: green;
    border: none;
    border-radius: 3px;
}
.search-btn3 {
    /* flex: 1; */
    flex-basis: 700px;
    padding: 6px 30px;
    margin-left: 15px;
    background-color: green;
    border: none;
    border-radius: 3px;
}

.eschool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}
h3 {
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}
p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 15px;
    /* margin-bottom: 25px; */
}
.esc-btn {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 12px 80px;
    margin-top: 13px;
    border: none;
    color: white;
}
.esc-1 {
    background-color: green;
    padding: 45px 50px;
}
.ebtn-1 {
    margin-top: 40px;
    display: flex;
}

.esc-2 {
    background-color: green;
    padding: 45px 50px;

}
.ebtn-2 {
    margin-top: 40px;
}

.esc-3 {
    background-color: green;
    padding: 45px 50px;
}
.ebtn-3 {
    margin-top: 22px;
}
.groups {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-top: 20px;
}

