
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    width: 100%;
    background-color: #f1f1f1;
    background-color: transparent;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #03462d;
}
.nav li {
    list-style-type: none;
    padding: 13px;
    gap: 1em;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav a {
    text-decoration: none;
    color: #f1f1f1;
}
h2 {
    margin: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
    gap: 12px;
}
.search-btn1 {
    padding: 6px 30px ;
    font-size: 0.8em;
    text-align: left;
    border: none;
    background-color: #ddd;
    border-radius: 3px;
    width: 20%;
}
.search-btn2 {
    padding: 6px 30px;
    font-size: 0.8em;
    text-align: left;
    background-color: #ddd;
    border: none;
    border-radius: 3px;
    width: 20%;
}
.search-btn3 {
    padding: 6px 30px;
    /* margin-left: 15px; */
    background-color: green;
    border: none;
    border-radius: 3px;
    width: 50%;
}

.eschool {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-bottom: 30px;
    background-color: transparent;
}
h3 {
    color: white;
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
}
p {
    font-size: 1em;
    text-transform: lowercase;
    text-align: center;
    color: white;
    padding-top: 15px;
    /* margin-bottom: 25px; */
}
.esc-btn {
    padding: 12px 100px;
    border: none;
    text-decoration: none;
    display: inline-block;
    /* width: 100%; */
    /* font-size: 12px; */
}
.esc-1 {
    background-color: #03462d;
    padding: 45px 50px;
    border-radius: 10px;
    /* width: 300%; */
    /* box-sizing: border-box; */
}
.ebtn-1 {
    margin-top: 40px;
    width: 100%;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.esc-2 {
    background-color: #03462d;
    padding: 45px 50px;
    border-radius: 10px;
    /* width: 300%; */
    /* box-sizing: border-box; */

}
.ebtn-2 {
    margin-top: 40px;
    width: 100%;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.esc-3 {
    background-color: #03462d;
    padding: 45px 50px;
    border-radius: 10px;
    /* width: 300%; */
    /* box-sizing: border-box; */
   
}
.ebtn-3 {
    margin-top: 22px;
    width: 100%;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.groups {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-bottom: 30px;
    background-color: transparent;
}
.grp {
    background-color: #cbc9c9;
    /* background-color: #f1f1f1; */
    padding: 15px 41px;
    box-sizing: border-box;
    border-top: 4px solid red;
    border-radius: 13px;
}
.fa {
    font-size: 1.1em;
    /* padding-left: 22px; */
    /* color: red; */
}

.grp-1 {
   text-align: center; 
   font-size: 1em;
   font-weight: normal;
   /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
   /* padding-bottom: 7px; */
}
.fa-suitcase {
    align-items: center;
    color: red;
}

.grp-2 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}
.fa-building {
    align-items: center;
    color: green;
}

.grp-3 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}
.fa-users{
    align-items: center;
    color: black;
}

.grp-4 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}
.fa-user {
    align-items: center;
    color: red;
}
.grp-5 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}
.img5 {
    align-items: center;
    color: rosybrown;
}
.grp-6 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}
.img6 {
    align-items: center;
    color: green;
}

.grp-7 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}
.img7 {
    align-items: center;
    color: black;
}
.grp-8 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}
.img8 {
    align-items: center;
    color: rosybrown;
}
.text { 
    color: black;
    font-size: 1em;
    background-color: transparent;
}
